{
    "CN": "FQDN",
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
    {
      "C": "US",
      "L": "Gotham City",
      "O": "Wayne Enterprises",
      "OU": "Wayne Enterprises Hosts",
      "ST": "Comic Book Shop"
    }
    ],
    "hosts": [
      "FQDN",
      "localhost"
    ]
  }
