#!/bin/bash

if ! [ -x "$(command -v certutil)" ]; then
  echo 'error: certutil is not installed. $ sudo apt-get install libnss3-tools' >&2
  exit 1
fi

certutil -A -n "NAME" -t "TCu,Cu,Tu" -i /usr/local/share/ca-certificates/CA_FILE.crt -d sql:$HOME/.pki/nssdb
certutil -A -n "INTERMEDIATE" -t "TCu,Cu,Tu" -i /usr/local/share/ca-certificates/INTERMEDIATE_FILE.crt -d sql:$HOME/.pki/nssdb
